.nav-item .nav-link:hover{
color:#2dbaf7 !important;
border-color: #2dbaf7;
}
.nav-item .nav-link{
    transition: all 0.2s;
    color:#fff !important;
    border-width: 2px;
    border-color: transparent;
     border-style: solid;
    border-radius: 20pt;
}
.nav-link.active{
    color: #2dbaf7 !important;
}
.home{
   
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/istockphoto-1330079015-612x612.jpg);  
    background-position: center center;
    background-size: cover;   
}
 .content input::placeholder{
    color: #fff !important;
   
}
.inputbtn{
    top:8px !important;
    right: 20px;
}
.section{
    height: 60px;
    background-color:#1E202B;
}
footer{
    background-color: #262936;
}
.home-info input, .content input,.home-contact-info input{
    border:none !important
}
input::placeholder ,textarea::placeholder{
    color: #fff !important;
    
}
.home-info p,.contact-info p{
    color:#BFC1C8;
}
.icons i {
    transition: all 0.3s;
}
.icons i:hover{
    color:white !important;
    background-color: #2dbaf7 !important;
}
.home-contact{
    background-color: #1E202B !important;
   
}
.divinput{
    top:15px !important;
    left: 20px;
}
a{
    text-decoration: none;
    color:white !important;
}
